name: Build Binaries

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: timemap-linux    
          - os: macos-latest
            artifact_name: timemap-macos   
          - os: windows-latest
            artifact_name: timemap-windows.exe

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install uv
      uses: astral-sh/setup-uv@v1

    - name: Install Dependencies
      shell: bash
      run: |
        uv pip install . --system
        uv pip install pyinstaller --system

    - name: Build with PyInstaller
      run: pyinstaller --name ${{ matrix.artifact_name }} --onefile --clean --paths=src --collect-all textual --collect-all textual_plotext --collect-all plotext --collect-all networkx run.py

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/${{ matrix.artifact_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
